<p id="notice"><%= notice %></p>

<p>
  <strong>Dispo title:</strong>
  <%= @dispocode.dispo_title %>
</p>

<%= link_to 'Edit', edit_dispocode_path(@dispocode) %> |
<%= link_to 'Back', dispocodes_path %>
